@model MyRealEstate.DomainClasses.Estate.RequestEstate

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are You Sure For Delete؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaveUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaveUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaveTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaveTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estate.EstateId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestEstateId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-id="@ViewBag.EstateId">Back To List</a>
    </form>
</div>
